
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
</head>
<header>
    <div id="toggleBtn">
        <i class="fa-solid fa-bars"></i>
    </div>
    <section id="sub">
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'common:profile' %}">마이페이지</a></li>
            <li><form method="post" action="{% url 'common:logout' %}">
                {% csrf_token %}
                <button class="logout-btn" type="submit">로그아웃</button>
            </form></li>
            {% else %}
            <li><a href="{% url 'common:signup' %}">회원가입</a></li>
            <li><a href="{% url 'common:login' %}">로그인</a></li>
            {% endif %}
        </ul>
    </section>
    <section id="main">
        <div class="logo">
            <a href="/pybo">
            <span class="title">최하하</span>
            <span class="betaText">βeta</span>
            </a>
        </div>
    </section>
    <div id="bg" style="display: none;">
        <section id="nav">
            <div class="navWrap">
                <nav>
                    <ul>
                        <div id="mobile-only" style="display: none;">
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'common:profile' %}">마이페이지</a></li>
                            <li><form method="post" action="{% url 'common:logout' %}">
                                {% csrf_token %}
                                
                                <button class="logout-btn" type="submit">로그아웃</button>
                            </form></li>
                            {% else %}
                            <li><a href="{% url 'common:signup' %}">회원가입</a></li>
                            <li><a href="{% url 'common:login' %}">로그인</a></li>
                            {% endif %}
                        </div>
                        <li style="background-color: #0B4C5F;">
                            <div class="menu">
                                <a style="font-weight: bold; color: #F7FE2E;" href="/">
                                전체글
                                </a>
                                <div class="dropdownBtn">
                                    <i class="fa-solid fa-caret-up"></i>
                                </div>
                            </div>
                            <ul class="active ">
                                <li style="background-color: inherit;">
                                    <a style="font-weight: bold; " href="/?so=hot">
                                    👍전체 인기글
                                    </a>
                                </li>
                                <li style="background-color: inherit;">
                                    <a style="font-weight: bold; " href="/?so=recent">
                                    🕐전체 최신글
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li style="background-color: inherit;">
                            <div class="menu">
                                <a style="font-weight: bold; ">
                                자유 주제
                                </a>
                                <div class="dropdownBtn">
                                    <i class="fa-solid fa-caret-up"></i>
                                </div>
                            </div>
                            <ul class="active ">
                                <li style="background-color: inherit;">
                                    <a style="font-weight: normal; " href="{% url 'pybo:index' category='anyquestion' %}">
                                    😀자유질문
                                    </a>
                                </li>
                                <li style="background-color: inherit;">
                                    <a style="font-weight: normal; " href="{% url 'pybo:index' category='humor' %}">
                                    🏛️알렉산드리아 짤 도서관
                                    </a>
                                </li>
                                <li style="background-color: inherit;">
                                    <a style="font-weight: normal; " href="{% url 'pybo:index' category='goals' %}">
                                    🚩목표와 계획
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li style="background-color: inherit;">
                            <div class="menu">
                                <a style="font-weight: bold; ">
                                개발
                                </a>
                                <div class="dropdownBtn">
                                    <i class="fa-solid fa-caret-up"></i>
                                </div>
                            </div>
                            <ul class="active ">
                                <li style="background-color: inherit;">
                                    <a style="font-weight: normal; " href="{% url 'pybo:index' category='algorithms' %}">
                                    알고리즘
                                    </a>
                                </li>
                                <li style="background-color: inherit;">
                                    <a style="font-weight: normal; " href="{% url 'pybo:index' category='gamedev' %}">
                                    게임개발
                                    </a>
                                </li>
                                <li style="background-color: inherit;">
                                    <a style="font-weight: normal; " href="{% url 'pybo:index' category='frontend' %}">
                                    프론트엔드
                                    </a>
                                </li>
                                <li style="background-color: inherit;">
                                    <a style="font-weight: normal; " href="{% url 'pybo:index' category='backend' %}">
                                    백엔드
                                    </a>
                                </li>
                                <li style="background-color: inherit;">
                                    <a style="font-weight: normal; " href="#">
                                    데이터베이스
                                    </a>
                                </li>
                                <li style="background-color: inherit;">
                                    <a style="font-weight: normal; " href="#">
                                    운영체제
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li style="background-color: inherit;">
                            <div class="menu">
                                <a style="font-weight: bold; ">
                                운동
                                </a>
                                <div class="dropdownBtn">
                                    <i class="fa-solid fa-caret-up"></i>
                                </div>
                            </div>
                            <ul class="active ">
                                <li style="background-color: inherit;">
                                    <a style="font-weight: normal; " href="{% url 'pybo:index' category='basketball' %}">
                                    🏀농구
                                    </a>
                                </li>
                                <hr>
                                <li style="background-color: inherit;">
                                    <a style="font-weight: normal; " href="{% url 'pybo:index' category='gym' %}">
                                    🏋헬스
                                    </a>
                                </li>
                                <hr>
                                <li style="background-color: inherit;">
                                    <a style="font-weight: normal; " href="{% url 'pybo:index' category='climbing' %}">
                                    🧗클라이밍
                                    </a>
                                </li>
                                <hr>
                                <li style="background-color: inherit;">
                                    <a style="font-weight: normal; " href="{% url 'pybo:index' category='othersports' %}">
                                    🎳기타스포츠
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li style="background-color: inherit;">
                            <div class="menu">
                                <a style="font-weight: bold; ">
                                게임
                                </a>
                                <div class="dropdownBtn">
                                    <i class="fa-solid fa-caret-up"></i>
                                </div>
                            </div>
                            <ul class="active ">
                                <li style="background-color: inherit;">
                                    <a style="font-weight: normal; " href="{% url 'pybo:index' category='nintendo' %}">
                                    🍄닌텐도
                                    </a>
                                </li>
                                <hr>
                                <li style="background-color: inherit;">
                                    <a style="font-weight: normal; " href="{% url 'pybo:index' category='pcgaming' %}">
                                    🎮PC
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div id="menu-report"><a href="/report">신고/건의</a></div>
                </nav>
            </div>
        </section>
        <div id="nav-bg"></div>
    </div>
</header>