{% extends "base.html" %}
{% block content %}
<div class="container" style="display:flex; justify-content: center">
	<form method="post" action="{% url 'common:login' %}" style="display: flex;flex-direction: column; align-items:center;">
		{% csrf_token %}
		<input type="hidden" name="next" value="{{ next }}">
		{% include "form_errors.html" %}
		<div class="form-group">
			<label for="username">사용자 ID</label>
			<input type="text" name="username" id="username" class="form-control" value="{{ form.username.value|default_if_none:'' }}">
		</div>
		<div class="form-group">
			<label for="password">비밀번호</label>
			<input type="password" name="password" id="password" class="form-control" value="{{ form.password.value|default_if_none:'' }}">
		</div>
		<button type="submit" class="button" style="width: 80px;">로그인</button>
        <a href="{% url 'common:googlelogin' %}" class="googlelogin"><i class="fa-brands fa-google"></i> 계정으로 로그인</a>
	</form>
</div>
{% endblock %}