{% extends "base.html" %}
{% block content %}
<div class="container" style="display:flex; justify-content:center;">
	<form method="post" class="post-form" style="display:flex; flex-direction:column; align-items:center;">
		<div><h3>회원 가입</h3></div>
		{% csrf_token %}
		{% include "form_errors.html" %}
		<div class="form-group">
			<label for="username">사용자 이름</label>
			<input type="text" class="form-control" id="username" name="username" value="{{ form.username.value|default_if_none:'' }}">
		</div>
		<div class="form-group">
			<label for="email">이메일</label>
			<input type="email" class="form-control" id="email" name="email" value="{{ form.email.value|default_if_none:'' }}">
		</div>
		<div class="form-group">
			<label for="password1">비밀번호</label>
			<input type="password" class="form-control" id="password1" name="password1" value="{{ form.password1.value|default_if_none:'' }}">
		</div>
		<div class="form-group">
			<label for="password2">비밀번호 확인</label>
			<input type="password" class="form-control" id="password2" name="password2" value="{{ form.password2.value|default_if_none:'' }}">
		</div>
		<button type="submit" class="button" style="width:100px;">회원 가입</button>
        <a href="{% url 'common:googlelogin' %}" class="googlelogin"><i class="fa-brands fa-google"></i> 계정으로 회원가입</a>
	</form>
</div>
{% endblock %}